<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product price</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="/blocks/header :: header"></div>

<h1>Product price</h1>

<table th:each="product : ${products}">
    <tr th:if="${product.isActive()}">
        <td>
            <a th:href="@{/product/{id} (id = ${product.getProductId()})}">
                <img width="50" height="50"
                     th:if="${!product.getImages().isEmpty()}"
                     th:src="'/img/product/' + ${product.getImages().get(0).getTitle()}"
                     th:alt="${product.getTitle()}"
                     th:title="${product.getTitle()}">
            </a>
        </td>
        <td>
            <a th:href="@{/product/{id} (id = ${product.getProductId()})}"
               th:text="${product.getTitle()}">Product link</a>
        </td>
        <td th:text="${product.getPrice()} + ' руб'">
            Price
        </td>
        <td>
            <input type="button" onclick="alert('Заглушка для кнопки редактирования товара')" value="Изменить">
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/product/{id} (id = ${product.getProductId()})}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>
<hr>

<a th:href="@{/product/new}">Добавить новый товар</a>

<div th:insert="/blocks/footer :: footer"></div>
</body>
</html>
