<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<h1>Admin page</h1>

<a th:href="@{/admin/products}">Продукция</a>
<br>
<a th:href="@{/admin/users}">Пользователи</a>
<br>
<a th:href="@{/admin/contacts}">Контакты</a>
<br>
<a th:href="@{/admin/discounts}">Акции</a>

<hr>
<form th:method="POST" th:action="@{/auth/logout}">
    <input type="submit" value="Logout">
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>