<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${service.getTitle()}">Service page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<table>
    <tr>
        <td><p>ID</p></td>
        <td><p th:text="${service.getServiceId()}" id="id">id</p></td>
    </tr>
    <tr>
        <td><p>Название</p></td>
        <td><p th:text="${service.getTitle()}" id="title">Название</p></td>
    </tr>
    <tr>
        <td><p>Описание</p></td>
        <td><p th:text="${service.getDescription()}" id="description">Описание</p></td>
    </tr>
    <tr>
        <td>Цена</td>
        <td><p th:text="${service.getPrice()} + ' руб'" id="price">Цена</p></td>
    </tr>
    <tr>
        <td>Пол</td>
        <td><p th:each="role : ${service.getGenders()}" th:text="${role.getGenderName()}" id="role">Пол</p></td>
    </tr>
    <tr>
        <td>Дата добавления</td>
        <td><p th:text="${service.getCreatedAt()}" id="created_at">Дата добавления</p></td>
    </tr>
</table>

<hr>

<form th:method="DELETE" th:action="@{/admin/services/{id} (id = ${service.getServiceId()})}">
    <button type="submit">Удалить</button>
</form>

<form th:action="@{/admin/services/{id}/edit (id = ${service.getServiceId()})}">
    <button type="submit">Изменить</button>
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>