<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<h1>Product page</h1>

<table th:unless="${products.isEmpty()}" th:each="product : ${products}">
    <tr th:if="${product.isActive()}">
        <td>
            <a th:href="@{/products/{id} (id = ${product.getProductId()})}">
                <img width="50" height="50"
                     th:if="${!product.getImages().isEmpty()}"
                     th:src="'/attachment/products/' + ${product.getImages().get(0).getTitle()}"
                     th:alt="${product.getTitle()}"
                     th:title="${product.getTitle()}">
            </a>
        </td>
        <td>
            <a th:href="@{/products/{id} (id = ${product.getProductId()})}"
               th:text="${product.getTitle()}">Product link</a>
        </td>
        <td th:text="${product.getPrice()} + ' руб'">
            Price
        </td>
    </tr>
</table>
<h3 th:if="${products.isEmpty()}">Товаров пока нет</h3>

<div class="footer" th:insert="blocks/footer :: footer"></div>
</body>
</html>
