<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<h1>Creating product page</h1>

<form th:method="POST" th:action="@{/admin/products}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Название</label>
    <input type="text" th:field="*{title}" id="title">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{title}">Show title error</div>
    <br>

    <label for="description">Описание</label>
    <input type="text" th:field="*{description}" id="description">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{description}">Show description error</div>
    <br>

    <label for="price">Цена</label>
    <input type="text" th:field="*{price}" id="price">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{price}">Show price error</div>
    <br>

    <label for="active">В продаже</label>
    <input type="checkbox" name="active" th:checked="*{active}" id="active">
    <br>

    <input type="file" name="image" accept="image/*">
    <br>

    <button type="submit">Добавить</button>
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>