<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getTitle()}">Product page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<table>
    <tr>
        <td><p>ID</p></td>
        <td><p th:text="${product.getProductId()}" id="id">id</p></td>
    </tr>
    <tr>
        <td><p>Название</p></td>
        <td><p th:text="${product.getTitle()}" id="title">Название</p></td>
    </tr>
    <tr>
        <td><p>Описание</p></td>
        <td><p th:text="${product.getDescription()}" id="description">Описание</p></td>
    </tr>
    <tr>
        <td>Цена</td>
        <td><p th:text="${product.getPrice()} + ' руб'" id="price">Цена</p></td>
    </tr>
    <tr>
        <td>Дата добавления</td>
        <td><p th:text="${product.getCreatedAt()}" id="created_at">Дата добавления</p></td>
    </tr>
</table>
<br>

<img width="200" th:each="image : ${product.getImages()}" th:src="'/attachment/products/' + ${image.getName()}"
     th:alt="${product.getTitle()}" th:title="${product.getTitle()}">
<hr>

<form th:method="DELETE" th:action="@{/admin/products/{id} (id = ${product.getProductId()})}">
    <button type="submit">Удалить</button>
</form>

<input type="button" onclick="alert('Заглушка для кнопки редактирования товара')" value="Изменить">

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>