<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration new user</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<h1>Registration user page</h1>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">

    <div th:insert="blocks/user_form :: user_form"></div>

    <input type="submit" value="Зарегистрировать">
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>