<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New contact</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<h1 th:text="'Edit ' + ${contact.getName}">Edit contact</h1>

<form th:method="PATCH" th:action="@{/admin/contacts/{id} (id = ${contact.getContactId()})}" th:object="${contact}">
    <label for="VK">VK</label>
    <input type="text" th:field="*{vk}" id="VK">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Show input error</div>
    <br>

    <label for="telegram">Telegram</label>
    <input type="text" th:field="*{telegram}" id="telegram">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Show input error</div>
    <br>

    <label for="instagram">Instagram</label>
    <input type="text" th:field="*{instagram}" id="instagram">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Show input error</div>
    <br>

    <label for="phone">Телефон</label>
    <input type="text" th:field="*{phone}" id="phone">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Show input error</div>
    <br>

    <label for="address">Адрес</label>
    <input type="text" th:field="*{address}" id="address">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Show input error</div>
    <br>

    <input type="submit" value="Сохранить">
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>