<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<h1>Contacts page</h1>

<table th:unless="${contacts.isEmpty()}">
    <tr>
        <th>Название</th>
        <th>Контакт</th>
        <th>Видим</th>
    </tr>
    <tr th:each="contact : ${contacts}">
        <td><p th:text="${contact.getName()}">Называние</p></td>
        <td><a th:href="${contact.getLink()}" th:text="${contact.getLink()}" target="_blan">Контакт</a></td>
        <td><input type="checkbox" name="active" th:checked="*{contact.active}" disabled id="active"></td>
        <td>
            <form th:action="@{/admin/contacts/{id}/edit (id = ${contact.getContactId()})}">
                <input type="submit" value="Изменить">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/contacts/{id} (id = ${contact.getContactId()})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
</table>

<h2 th:if="${contacts.isEmpty()}">Нет добавленных контактов</h2>

<hr>
<form th:action="@{/admin/contacts/new}">
    <input type="submit" value="Добавить контакт">
</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>