<div class="footer_container" th:fragment="footer">
    <div class="f_left">
        <p>Контакты:</p>
        <a th:href="${contactList.getVk}" th:text="VK" target="_blan"></a>
        <a th:href="${contactList.getTelegram}" th:text="Telegram" target="_blan"></a>
        <a th:href="${contactList.getInstagram}" th:text="Instagremm" target="_blan"></a>
        <a th:href="'tel:' + ${contactList.getPhone}" th:text="${contactList.getPhone}" target="_blan"></a>
        <p th:text="${contactList.getAddress}"></p>

        <p>Footer</p>
        <p>© EA_DM 2022–2023</p>
    </div>
</div>
