<div class="h_container" th:fragment="header">
    <div class="h_left">
        <p><a class="logo" title="На главную" th:href="@{/}">Ekaterina Aleekseenko</a></p>
    </div>
    <div class="h_right">
        <ul class="nav">
            <li><a class="nav_link" th:href="@{/#}">Услуги</a></li>
            <li><a class="nav_link" th:href="@{/products}">Продукция</a></li>
            <li><a class="nav_link" th:href="@{/discounts}">Акции</a></li>
            <li><a class="nav_link" th:href="@{/about}">О нас</a></li>
            <li class="admin">
                <!--  TODO: Админка, УДАЛТЬ ссылку по после окончания разработки!-->
                <a class="admin" th:href="@{/admin/main}" style="color: red">(админка)</a>
            </li>
            <li>
                <a class="nav_icon" href="https://instagram.com/depil_ea_stav?igshid=ZDdkNTZiNTM=">
                    <img src="/images/inst.svg" alt="instgram">
                </a>
            </li>
            <li>
                <a class="nav_icon" href="https://vk.com/depil_ea_stav">
                    <img src="/images/vk.svg" alt="vk">
                </a>
            </li>
            <li>
                    <img src="/images/tube.svg" alt="tube">
            </li>

            <li><p>+79188072211</p></li>
        </ul>
    </div>
</div>