<div th:fragment="user_form">

    <label for="username">Set username</label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{username}">Show username error</div>
    <br>

    <label for="email">Set email</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{email}">Show email error</div>
    <br>

    <label for="password">Set password</label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{password}">Show password error</div>
    <br>

    <label for="role">Роль</label>
    <select th:object="${user}" th:field="*{roles}" id="role">
        <option th:each="role : ${roles}" th:value="${role.value}"
                th:text="${role.key}"></option>
    </select>
    <br>

    <label for="active">Активность</label>
    <input type="checkbox" name="active" th:checked="*{active}" id="active">
    <hr>

</div>