<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit discount</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header" th:insert="blocks/header :: header"></div>

<h1 th:text="'Edit ' + ${discount.getTitle()}">Edit discount</h1>

<form th:method="PATCH" th:action="@{/admin/discounts/{id} (id = ${discount.getDiscountId()})}" th:object="${discount}">

    <div th:insert="blocks/form/discount_form :: discount_form"></div>

</form>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>