/*Fonts*/

@font-face {
    font-family: logo_Kapelka;
    src: url("../fonts/Kapelka.woff") format("woff");
}

@font-face {
    font-family: tel_Changa;
    src: url("../fonts/Changa.woff") format("woff");
}

@font-face {
    font-family: nav_Jura;
    src: url("../fonts/Jura.woff") format("woff");
}

@font-face {
    font-family: Philosopher_Bold;
    src: url("../fonts/Philosopher_Bold.woff") format("woff");
}

@font-face {
    font-family: Philosopher_Regular;
    src: url("../fonts/Philosopher_Regular.woff") format("woff");
}

/* reset browser style */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url("../images/backgrounds/back_heart.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Header*/

.header {
    display: flex;
    justify-content: center;
    height: 100%;
}

.head_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 198px;
    width: 100%;
    height: 120px;
}

.head_logo {
    display: flex;
    justify-content: center;
}

.h_logo {
    font-family: logo_Kapelka, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-decoration: none;
    white-space: nowrap;
    color: #292929;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.h_logo:hover {
    color: #F7B101;
}

.head_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 60px;
}

.nav_page {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 531px;
    gap: 40px;
}

.n_page {
    font-family: nav_Jura, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-decoration: none;
    white-space: nowrap;
    color: #292929;
}

.nav_link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px 0 40px;
    gap: 20px;
}

.l_icon {
    fill: #292929;
}

.l_icon:hover {
    fill: white;
}

.link_number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
}

.number_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    gap: 10px;
}

.n_tel {
    text-align: center;
    padding: 0 0 6px 0;
    font-family: tel_Changa, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 44px;
    color: #292929;
}

.n_icon {
    fill: #292929;
    margin-bottom: 7px;
}

.n_icon:hover {
    fill: white;
}

ul > .admin {
    padding-left: 5px;
}

/*Body*/

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.main_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 270px 0 0;
    width: 1920px;
    height: 370px;
}

.m_title {
    display: flex;
    align-items: center;
    text-align: right;
    width: 469px;
    height: 160px;
    font-family: 'Philosopher_Bold', serif;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #292929;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}


.m_subtitle {
    display: flex;
    align-items: center;
    text-align: right;
    width: 468px;
    height: 50px;
    font-family: 'Philosopher_Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.05em;
    line-height: 50px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #292929;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.main_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 190px;
    gap: 30px;
    width: 1920px;
    height: 300px;
}

.main_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list_item_1 {
    padding: 0 0 0 27px;
}

.list_item_2 {
    padding: 0 0 0 15px;
}

.list_item_3 {
    padding: 0 0 0 29px;
}

.list_item_4 {
    padding: 0 0 0 54px;
}

.m_list_point {
    fill: #F7B101;
}

.main_list_point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
}

.m_list_text {
    font-family: 'Philosopher_Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #292929;
}

.main_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.main_slider_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    width: 1252px;
    font-family: 'Philosopher_Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #292929;
}

.main_slider_trend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 80px;
}

.slider_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 40px;
    width: 1320px;
    height: 200px;
}

.s_card {
    width: 300px;
    height: 200px;
    border: 1px solid #292929;
    border-radius: 20px;
}

.s_arrow_left {
    fill: #F7B101
}

.s_arrow_right {
    fill: #F7B101
}

.main_slider_sublist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 80px;
    gap: 20px;
    width: 1252px;
    font-family: 'Philosopher_Regular', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-indent: 10px;
    color: #292929;
}

.main_slider_list_point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 5px;
}

.slider_list_item_1 {
    padding: 0 0 0 74px;
}

.slider_list_item_2 {
    padding: 0 0 0 111px;
}

.slider_list_item_3 {
    padding: 0 0 0 160px;
}

.slider_list_item_4 {
    padding: 0 0 0 230px;
}

.m_slider_list_point {
    fill: #F7B101;
}

/*Footer*/

.footer_container {
    display: flex;
    justify-content: center;
}

.f_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 1000px;
    padding-left: 10px;
    width: 1900px;
    height: 100px;
    background-color: rgba(174, 171, 171, 0.6);
    color: #FFFFFF;

}
