/*Fonts*/

@font-face {
    font-family: Kapelka;
    src: url("/../fonts/Kapelka-New-W03-Regular.woff") format("opentype");
}

@font-face {
    font-family: OrelegaOne;
    src: url("/../fonts/OrelegaOne-Regular.woff") format("opentype");
}

@font-face {
    font-family: Changa;
    src: url("/../fonts/Changa.woff") format("opentype");
}

@font-face {
    font-family: Jura;
    src: url("/../fonts/Jura.woff") format("opentype");
}

@font-face {
    font-family: Philosopher_Regular;
    src: url("/../fonts/Philosopher_Regular.woff") format("opentype");
}

/* reset browser style */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: #F7B101;
}

/*Header*/

.header {
    display: flex;
    justify-content: center;
    height: 100%;
}

.h_container {
    display: flex;
    justify-content: space-between;
    width: 1252px;
    height: 60px;
}

.logo {
    font-size: 40px;
    align-items: center;
    color: #292929;
    text-decoration: none;
    font-family: Kapelka;
    white-space: nowrap;
}
.logo:hover {
    color: #FFFFFF;
}

.nav {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    height: 100%;
    font-size: 24px;
    font-family: Jura;
    font-weight: bold;
    white-space: nowrap;
}

li > .n_page:hover {
    color: #292929;
}

li > .n_page {
    padding-left: 30px;
}

li > .l_icon {
    padding-left: 5px;
    padding-right: 5px;
}

.icon {
    fill: white;
}
.icon:hover {
    fill: #292929;
}

.link {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    height: 100%;
    font-size: 24px;
    font-family: Jura;
    white-space: nowrap;
}

.n_page {
    color: #FFFFFF;
    text-decoration: none;
}

.number {
    color: #292929;
    text-decoration: none;
    font-family: Changa;
    align-items: center;
    padding-bottom: 10px;
}

.number:hover {
    color: #FFFFFF;
}


ul > .admin {
    padding-left: 5px;
}

/*Body*/
.main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.hero_block {
    flex-direction: column;
    justify-content: left;
    width: 1252px;
    height: 100%;
}

.hb_large {
    width: 466px;
    margin-top: 60px;
    font-family: Philosopher_Regular;
    font-size: 76px;
    line-height: 70px;
    color: #292929;
}

.hb_text {
    width: 771px;
    margin-top: 20px;
    font-family: Philosopher_Regular;
    font-size: 26px;
    line-height: 25px;
    color: #FFFFFF;
    padding-bottom: 100px;
}

/*Footer*/

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #292929;
    color: #FFFFFF;
    height: 500px;
}

.f_container {
    display: flex;
    justify-content: left;
    width: 1252px;
}
