@font-face {
    font-family: Kapelka;
    src: url("/../fonts/Kapelka-New-W03-Regular.woff") format("opentype");
}

@font-face {
    font-family: OrelegaOne;
    src: url("/../fonts/OrelegaOne-Regular.woff") format("truetype");
}

/* reset browser style */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    font-size:40px;
    color: #292929;
    text-decoration: none;
    font-family: Kapelka;
}

.h_container {
    display: flex;
    justify-content: space-between;
    width: 1252px;
    height: 50px;
}

.header {
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    font-size: 20px;
    font-family: OrelegaOne;
}

ul>li {
    padding-left: 30px;
}

.nav_link {
    color: #292929;
    text-decoration: none;
}
ul>.admin {
    padding-left: 5px;
}
